[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
pandas = "*"
beautifulsoup4 = "*"
lxml = "*"
selenium = "*"
tqdm = "*"

[requires]
python_version = "3.9"
